{% extends 'base.html' %}
{% load static %}

{% block title %}
Create Announcement
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-employee-create.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet"  href="{% static 'hr/css/material_green.css' %}">
{% endblock css %}

{% block content %}
<div id="mainbox">
   {% if messages %}
      {% for message in messages %}
      <div class="alert light-green lighten-3 green-text text-darken-4">
          <i class="warning material-icons left">warning</i>
          <span class="title">{{ message }}</span>
          <i class="close right green-text text-darken-4 material-icons">close</i>
      </div>
      {% endfor %}
  {% endif %}
  <div class="mycontainer mb27">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'hr:hr-announcement-list' %}" class="breadcrumb">Department</a>
        <a href="{% url 'hr:hr-announcement-add' %}" class="breadcrumb">Add</a>
      </div>
    </div>
    <h4>New announcement</h4>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <form class="form-horizontal" method="POST" action="">
          {% csrf_token %}
          {{ annoform.non_field_errors }}
          <div class="input-field">
            {{annoform.title.label_tag}}
            {{annoform.title}}
            {{annoform.title.errors}}
          </div>
          <div class="input-field">
            {{annoform.note.label_tag}}
            {{annoform.note}}
            {{annoform.note.errors}}
          </div>
           <div>
            <br>
            <h6>Publish date:</h6>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l6">
              {{annoform.start_date.label_tag}}
              {{annoform.start_date}}
              {{annoform.start_date.errors}}
              {% if annoform.start_date.help_text %}
              <small class="grey-text">{{annoform.start_date.help_text}}</small>
              {% endif %}
            </div>
            <div class="input-field col s12 m12 l6">
              {{annoform.end_date.label_tag}}
              {{annoform.end_date}}
              {{annoform.end_date.errors}}
              {% if annoform.end_date.help_text %}
              <small class="grey-text">{{annoform.end_date.help_text}}</small>
              {% endif %}
            </div>
          </div>
          
          <div class="button-holder right">
            <a href="{% url 'hr:hr-announcement-list' %}" class="btn btn-large waves-effect waves-light cyan lighten-2 grey-text text-darken-3" type="submit">Cancel</a>
            <button type="submit" class="btn btn-large waves-effect waves-light cyan">Save</button>
          </div>
           <div class="alis"></div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block jscontent %}

<script>
  $(".datepicker").flatpickr();
</script>
{% endblock jscontent %}