{% extends 'base.html' %}
{% load static %}

{% block title %}
Delete Anncouncemnet
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-employee-change.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet"  href="{% static 'hr/css/material_green.css' %}">
{% endblock css %}

{% block content %}
<div id="mainbox">
  <div class="mycontainer">
    <div class="nav-wrapper">
      <div class="col s12">
      <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
      <a href="{% url 'hr:hr-announcement-list' %}" class="breadcrumb">Announcement</a>
      <a href="#" class="breadcrumb">Delete</a>
      </div>
    </div>
    <h4>Delete Announcement</h4>
   
    <div class="container">
      <form method="POST">
          {% csrf_token %}
        <div class="card">
            <div class="card-content">
              <span class="card-title">
                Are you sure you want to delete the selected Announcement?.
              </span>
              <table class="highlight">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="valignko"><h6>{{ object }}</h6></td>
                    <td class="valignko">{{ object.start_date }}</td>
                    <td class="valignko">{{ object.end_date }}</td>
                  </tr>
                </tbody>
              </table>

              <div class="button-holder right">
                <a href="{% url 'hr:hr-announcement-list' %}" class="btn btn-large waves-effect waves-light cyan lighten-2 grey-text text-darken-3" type="submit">Cancel</a>
                <button class="btn btn-large waves-effect waves-light red" type="submit">Delete</button>
              </div>
              <div class="alis"></div>
            </div> <!-- //card-panel -->
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock content %}