{% extends 'base.html' %}
{% load static %}

{% block title %}
Announcements
{% endblock title %}

{% block css %}
  <style>
    .status{
      padding:3px 9px;
    }
  </style>
{% endblock css %}

{% block content %}
<div id="mainbox">
  {% if messages %}
      {% for message in messages %}
      <div class="alert light-green lighten-3 green-text text-darken-4">
          <i class="warning material-icons left">warning</i>
          <span class="title">{{ message }}</span>
          <i class="close right green-text text-darken-4 material-icons">close</i>
      </div>
      {% endfor %}
  {% endif %}

    <div class="mycontainer mb27">
      <div class="nav-wrapper">
        <div class="col s12">
        <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'hr:hr-announcement-list' %}" class="breadcrumb">Announcements</a>
        </div>
      </div>
  </div>

  <div class="fixed-action-btn addbtn">
    <a href="{% url 'hr:hr-announcement-add' %}" class="btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons">add</i></a>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-content">
       
        <table class="highlight responsive-table" id="dept-table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for obj in annolist  %}
            <tr>
              <td class="valignko"><h6>{{ obj.title }}</h6></td>
              <td>{{ obj.start_date }}</td>
              <td>{{ obj.end_date }}</td>
              <td>
              {% if obj.status == 'active' %}
                  <span class="status green lighten-2 white-text">{{ obj.status|title }}</span>
              {% else %}
                  <span class="status red lighten-2 white-text">{{ obj.status|title }}</span>
              {% endif %}
              </td>
              <td class="valignko">
                <a href="{% url 'hr:hr-announcement-change' obj.pk %}" class="tooltipped black-text" data-position="top" data-tooltip="Edit"><i class="material-icons blue-grey-text">edit</i></a> &nbsp;

                <a href="{% url 'hr:hr-announcement-delete' obj.pk %}" class="tooltipped black-text" data-position="top" data-tooltip="Delete"><i class="material-icons red-text text-darken-2">delete</i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% if annolist.has_other_pages %}

    {% if annolist.has_previous %}
    <a href="?page=1" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">First</a>
    <a href="?page={{ annolist.previous_page_number }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Previous</a>
    {% endif %}

    {% for num in annolist.paginator.page_range %}
    {% if annolist.number == num %}
      <a href="?page={{ num }}" class="btn-small light-blue">{{num}}</a>
    {% elif num > annolist.number|add:'-3' and num < annolist.number|add:'3'%}
      <a href="?page={{ num }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">{{num}}</a>
    {% endif %}
    {% endfor %}

    {% if annolist.has_next %}
    <a href="?page={{ annolist.next_page_number }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Next</a>
    <a href="?page={{ annolist.paginator.num_pages }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Last</a>
    {% endif %}

    {% endif %}
  
  </div>

</div><!-- mainbox -->
{% endblock content %}