{% extends 'base.html' %}
{% load static %}

{% block title %}
Change Employee Password
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-employee-change.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet"  href="{% static 'hr/css/material_green.css' %}">
{% endblock css %}

{% block content %}
<div id="mainbox">
  <div class="mycontainer">
    <div class="nav-wrapper">
      <div class="col s12">
      <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
      <a href="{% url 'hr:hr-employee-list' %}" class="breadcrumb">Employees</a>
      <a href="{% url 'hr:hr-employee-change' userid %}" class="breadcrumb">Change</a>
      <a href="{% url 'hr:employee-change-password' userid %}" class="breadcrumb">Password</a>
      </div>
    </div>
    <h4>Change employee password</h4>
    <form method="POST">
        {% csrf_token %}
      <div class="row">
        
        <div class="col s12 m12 l12">
          <div class="card-panel">
            <div class="row no-mb">
              
              <div class="col s6">
                <div class="input-field">
                  <i class="material-icons prefix">lock</i>
                  {{ password_form.password1.label_tag }}
                  {{password_form.password1}}
                  {{ password_form.password1.errors }}
                  {% if password_form.password1.help_text %}
                    <small class="grey-text text-darken-2">{{ password_form.password1.help_text }}</small>
                  {% endif %}
                </div>
              </div>
              <div class="col s6">
                <div class="input-field">
                  <i class="material-icons prefix">lock</i>
                  {{ password_form.password2.label_tag }}
                  {{password_form.password2}}
                  {{ password_form.password2.errors }}
                  {% if password_form.password2.help_text %}
                    <small class="grey-text text-darken-2">{{ password_form.password2.help_text }}</small>
                  {% endif %}
                </div>
              </div>
              <div class="col">
              {{ password_form.non_field_errors }}
              <br>
              </div>
              <div class="col s12 m12 l12">
                <button class="btn btn-large waves-effect waves-light cyan" type="submit">Save changes<i class="material-icons right">send</i></button>
              </div>

            </div>
          </div> <!-- //card-panel -->
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}