{% extends 'base.html' %}
{% load static %}

{% block title %}
Deparments
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<div id="mainbox">
  {% if messages %}
      {% for message in messages %}
      <div class="alert light-green lighten-3 green-text text-darken-4">
          <i class="warning material-icons left">warning</i>
          <span class="title">{{ message }}</span>
          <i class="close right green-text text-darken-4 material-icons">close</i>
      </div>
      {% endfor %}
  {% endif %}

    <div class="mycontainer mb27">
      <div class="nav-wrapper">
        <div class="col s12">
        <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'hr:hr-department-list' %}" class="breadcrumb">Department</a>
        </div>
      </div>
  </div>

  <div class="fixed-action-btn addbtn">
    <a href="{% url 'hr:hr-department-add' %}" class="btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons">add</i></a>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-content">
        <table class="highlight responsive-table" id="dept-table">
          <thead>
            <tr>
              <th>Department</th>
              <th>Designation</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for dept in object_list  %}
            <tr>
              <td class="valignko"><h6>{{ dept }}</h6></td>
              <td class="valignko">
                <ul>
                {% for desig in dept.designation_set.all  %}
                  <li>{{desig}}</li>
                {% endfor %}
                </ul>
              </td>
              <td class="valignko">
                <a href="{% url 'hr:hr-department-change' dept.id %}" class="tooltipped black-text" data-position="top" data-tooltip="Edit"><i class="material-icons blue-grey-text">edit</i></a> &nbsp;

                <a href="{% url 'hr:hr-department-delete' dept.id %}" class="tooltipped black-text" data-position="top" data-tooltip="Delete"><i class="material-icons red-text text-darken-2">delete</i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a href="?page=1" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a href="?page={{ num }}" class="btn-small light-blue">{{num}}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
      <a href="?page={{ num }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">{{num}}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Last</a>
    {% endif %}

    {% endif %}
  </div>

</div><!-- mainbox -->
{% endblock content %}