{% extends 'base.html' %}
{% load static %}

{% block title %}
Create Department
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-employee-create.css' %}">
{% endblock css %}

{% block content %}
<div id="mainbox">
   {% if messages %}
      {% for message in messages %}
      <div class="alert light-green lighten-3 green-text text-darken-4">
          <i class="warning material-icons left">warning</i>
          <span class="title">{{ message }}</span>
          <i class="close right green-text text-darken-4 material-icons">close</i>
      </div>
      {% endfor %}
  {% endif %}
  <div class="mycontainer mb27">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'hr:hr-department-list' %}" class="breadcrumb">Department</a>
        <a href="{% url 'hr:hr-department-add' %}" class="breadcrumb">Add</a>
      </div>
    </div>
    <h4>New department</h4>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <form class="form-horizontal" method="POST" action="">
          {% csrf_token %}
          <div class="input-field">
            <label>Department</label>
            <input name="name" maxlength="150"  required="" id="id_name" class="validate" type="text" oninvalid="this.setCustomValidity('This field is required!')" oninput="setCustomValidity('')">
            {{ deptform.name.errors }}
          </div>
          <br><br>
          {{ formset.management_form }}
          {% for form in formset %}
          <div class="input-field form-row">
                  <label>Designation</label>
                  {{form.name}}
                  <span class="btn green add-form-row">
                  <i class="material-icons">add</i>
                  </span>
          </div>
          {% endfor %}
          <div class="button-holder right">
            <a href="{% url 'hr:hr-department-list' %}" class="btn btn-large waves-effect waves-light cyan lighten-2 grey-text text-darken-3" type="submit">Cancel</a>
            <button type="submit" class="btn btn-large waves-effect waves-light cyan">Save</button>
          </div>
           <div class="alis"></div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block jscontent %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      newElement.find(':input').each(function() {
          var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.form-row:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('green').addClass('red')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<i class="material-icons">close</i></span>');
      return false;
                      
  }
  function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.form-row').remove();
          var forms = $('.form-row');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              $(forms.get(i)).find(':input').each(function() {
                  updateElementIndex(this, prefix, i);
              });
          }
      }
      return false;
  }
  $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.form-row:last', 'form');
      return false;
  });
  $(document).on('click', '.remove-form-row', function(e){
      e.preventDefault();
      deleteForm('form', $(this));
      return false;
  });
</script>
{% endblock jscontent %}