{% extends "base.html" %}
{% load static %}

{% block title %}
HR Dashboard
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-home.css' %}">
{% endblock css %}

{% block content %}
<div id="mainbox">
    <div class="mycontainer">
        <section id="status-card">
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content cyan darken-1 white-text">
                            <div class="col s7 l4">
                                <i class="material-icons employee">people</i>
                            </div>
                            <div class="col s5 l8 right-align">
                                <h2 class="status-count">{{employeesCount}}</h2>
                                <h5>Total Employees</h5>
                            </div>
                            <div class="alis"></div>
                        </div>
                        
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content red accent-2 white-text">
                            <div class="col s7 l4">
                                <i class="material-icons employee">subtitles</i>
                            </div>
                            <div class="col s5 l8 right-align">
                                <h2 class="status-count">{{departmentCount}}</h2>
                                <h5>Total Departments</h5>
                            </div>
                            <div class="alis"></div>
                        </div>
                       
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content blue-grey white-text">
                            <div class="col s7 l4">
                                <i class="material-icons employee">local_airport</i>
                            </div>
                            <div class="col s5 l8 right-align">
                                <h2 class="status-count">0</h2>
                                <h5>Total on Vacation</h5>
                            </div>
                            <div class="alis"></div>
                        </div>
                       
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content deep-orange accent-2 white-text">
                            <div class="col s7 l4">
                                <i class="material-icons employee">people_outline</i>
                            </div>
                            <div class="col s5 l8 right-align">
                                <h2 class="status-count">1</h2>
                                <h5>Total Absent</h5>
                            </div>
                            <div class="alis"></div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">

                <!-- Calendar -->
                <div class="col s12 m8 l8">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title">
                                <h4 class="grey-text"> #TODO:</h4>
                            </div>
                            <h5 class="grey-text" >Put a calendar here!</h5>
                            <div style="height:400px"></div>
                        </div>
                    </div>
                </div>
                <!-- //Calendar -->

                <div class="col s12 m4 l4">
                    <!-- Birthday -->
                    <ul class="collection with-header z-depth-1">
                        <li class="collection-header">
                            <i class="material-icons left medium">cake</i>
                            <div class="left">
                                <p class="bday-title">Birthdays for the month of</p>
                                <h5 class="bday-month pink-text text-darken-2">{{currentmonth|date:"F"}}</h5>
                            </div>
                            <div class="alis"></div>
                        </li>
                        {% for thismonth in thismonthbday %}
                        <li class="collection-item avatar">
                            <img src="{{thismonth.avatar.url}}"class="circle">
                            <div class="collection-item-holder">
                                <span class="title">{{thismonth.user.first_name}} {{thismonth.user.last_name}}</span>
                                <p class="grey-text text-darken-1">{{thismonth.date_of_birth|date:"F d, Y"}}</p>
                                {% for thisday in bdaytoday %}
                                {% if thisday.pk ==  thismonth.pk %}
                                <span class="secondary-content"><i class="material-icons red-text">cake</i></span>
                                {% endif %}
                                {% endfor %}

                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- //Birthday -->

                    <!-- Holidays -->
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title">
                                <h4 class="grey-text"> #TODO:</h4>
                            </div>
                            <h5 class="grey-text" >Holidays here</h5>
                        </div>
                    </div>
                    <!-- //Holidays -->         
                </div>

            </div>
        </section>
    </div>
</div>
{% endblock content %}
