{% extends 'login-base.html' %}
{% load static %}

{% block title %}
HR Login
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/login.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
  <center>
  <div class="row mt90">
      <div class="col s12 m6 offset-m3">
        <h5 class="header">Admin Login</h5>
        <div class="card ">
          <form method="POST">
            <div class="card-content">
              <img src="{% static 'img/simplehrms-cyan.jpg' %}" class="responsive-img">
              <br><br>
              <!-- <span class="card-title"><b>HR Login</b></span> -->
                {% csrf_token %}
                {% if form.errors %}
                    <p class="red-text">Please enter a correct username and password. Note that both fields may be case-sensitive.</p>
                {% endif %}
                {% for field in form %}
                    <div class="input-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small class="grey-text">{{ field.help_text }}</small>
                    {% endif %}
                    </div>
                {% endfor %}
                
                {% if request.GET.next %}
                <input type="hidden" name="next" value={{request.GET.next}}>
                {% endif %}
            </div>
            <div class="card-action">
                <button type="submit" class="btn btn-large waves-effect cyan darken-1">Login</button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </center>
    
</div>
{% endblock content %}