{% extends 'base.html' %}
{% load static %}

{% block title %}
HR Login
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/login.css' %}">
{% endblock css %}

{% block content %}
<center>
  <h3 class="green-text text-darken-2">SimpleHRMS</h3>
  <div class="container">
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <h5>HR Login</h5>
      <form class="col s12" method="post">
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>
        {% csrf_token %}
          {% if form.errors %}
          <p class="red-text flow-text">Please enter a correct username and password. Note that both fields may be case-sensitive.</p>
          {% endif %}
          {% for field in form %}
          <div class='row'>
              <div class="input-field col s12">
                {{ field }}
                {{ field.label_tag }}
              {% if field.help_text %}
              <small class="grey-text">{{ field.help_text }}</small>
              {% endif %}
              </div>
          </div>
          {% endfor %}
          
          {% if request.GET.next %}
          <input type="hidden" name="next" value={{request.GET.next}}>
          {% endif %}

        <br />
        <center>
          <div class='row'>
            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green lighten-1'>Login</button>
          </div>
        </center>
      </form>
    </div>
  </div>
</center>
{% endblock content %}