{% extends 'base.html' %}
{% load static %}

{% block title %}
Employee List
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-employee-list.css' %}">
{% endblock css %}

{% block content %}
    
<div id="mainbox">
    {% if messages %}
        {% for message in messages %}
        <div class="alert light-green lighten-3 green-text text-darken-4">
            <i class="warning material-icons left">warning</i>
            <span class="title">{{ message }}</span>
            <i class="close right green-text text-darken-4 material-icons">close</i>
        </div>
        {% endfor %}
    {% endif %}

    <div class="mycontainer mb27">
        <div class="nav-wrapper">
            <div class="col s12">
            <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
            <a href="{% url 'hr:hr-employee-list' %}" class="breadcrumb">Employees</a>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn addbtn">
        <a href="{% url 'hr:hr-employee-create' %}" class="btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons">add</i></a>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in object_list %}
                        <tr>
                            <td width="10%">{{ employee.employee_id }}</td>
                            <td class="avatar" width="20%"><img src="{{employee.avatar.url}}" alt="" height="100" width="100" class="circle"></td>
                            <td>{{ employee.user.get_full_name }}</td>
                            <td>{{ employee.designation.department }}</td>
                            <td>{{ employee.designation }}</td>
                            <td>
                                {% if employee.user.is_active %}
                                    <span class="status green lighten-2 white-text">{{ employee.user.is_active }}</span>
                                    {% else %}
                                    <span class="status red lighten-2 white-text">{{ employee.user.is_active }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="actions-box">
                                    <a href="{% url 'hr:hr-employee-change' employee.user.id %}" class="tooltipped" data-position="top" data-tooltip="Edit"><i class="material-icons blue-grey-text">edit</i></a> &nbsp;

                                    {% if not employee.user.is_superuser %}
                                    <a href="{% url 'hr:employee-delete' employee.user.id %}" class="tooltipped" data-position="top" data-tooltip="Delete"><i class="material-icons red-text text-darken-2">delete</i></a>
                                    {% endif %}

                                </div>
                            </td>
                            {% endfor %}
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </div>
        
    {% if is_paginated %}
  
    {% if page_obj.has_previous %}
    <a href="?page=1" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a href="?page={{ num }}" class="btn-small light-blue">{{num}}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
      <a href="?page={{ num }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">{{num}}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-small light-blue lighten-5 blue-grey-text darken-text-1">Last</a>
    {% endif %}

    {% endif %}

    </div>
</div>
{% endblock content %}