{% extends 'base.html' %}
{% load static %}

{% block title %}
Change Employee
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-employee-change.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet"  href="{% static 'hr/css/material_green.css' %}">
{% endblock css %}

{% block content %}
<div id="mainbox">
    hello
</div>
{% endblock content %}

{% block jscontent %}

</script>
{% endblock jscontent %}