{% extends 'base.html' %}
{% load static %}

{% block title %}
Change Employee
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-employee-change.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet"  href="{% static 'hr/css/material_green.css' %}">
{% endblock css %}

{% block content %}
<div id="mainbox">
    {% if messages %}
        {% for message in messages %}
        <div class="alert light-green lighten-3 green-text text-darken-4">
            <i class="warning material-icons left">warning</i>
            <span class="title">{{ message }}</span>
            <i class="close right green-text text-darken-4 material-icons">close</i>
        </div>
        {% endfor %}
    {% endif %}
    
  <div class="mycontainer">
    <div class="nav-wrapper">
        <div class="col s12">
        <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'hr:hr-employee-list' %}" class="breadcrumb">Employees</a>
        <a href="{% url 'hr:hr-employee-change' userid %}" class="breadcrumb">Change</a>
        </div>
    </div>
    <h4>Change employee</h4>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {{ user_form.non_field_errors }}
            {{ profile_form.non_field_errors }}
            <div class="col s12 m12 l12">
                <div class="card-panel">
                <div class="card-title">
                    <h5>User Info</h5>
                </div>
                <div class="row no-mb">
                    <div class="col s4">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        {{ user_form.username.label_tag }}
                        {{user_form.username}}
                        {{ user_form.username.errors }}
                        {% if user_form.username.help_text %}
                        <small class="grey-text text-darken-2">{{ user_form.username.help_text }}</small>
                        {% endif %}
                    </div>
                    </div>
                    <div class="col s8">
                    <div class="input-field">
                        <label for="id_password" style="position: unset;">Password:</label>
                        {{ user_form.password }}
                        {{ user_form.password.errors }}
                        {% if user_form.password.help_text %}
                        {% if not user.is_superuser  %}
                        <small class="grey-text text-darken-2">{{ user_form.password.help_text|safe }}</small>
                        {% endif %}
                        {% endif %}
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- //row -->
        

        <div class="row">
            <!-- Personal Details -->
            <div class="col s12 m6 l4">
            <div class="card-panel">
                <div class="card-title">
                <h5>Personal Details</h5>
                </div>
                <div class="card-content">
                <div class="input-field">
                    {{ user_form.first_name.label_tag }}
                    {{ user_form.first_name }}
                    {{ user_form.first_name.errors }}
                    {% if user_form.first_name.help_text %}
                    <small class="grey-text">{{ user_form.first_name.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ user_form.last_name.label_tag }}
                    {{ user_form.last_name }}
                    {{ user_form.last_name.errors }}
                    {% if user_form.last_name.help_text %}
                    <small class="grey-text">{{ user_form.last_name.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.middle_name.label_tag }}
                    {{ profile_form.middle_name }}
                    {{ profile_form.middle_name.errors }}
                    {% if profile_form.middle_name.help_text %}
                    <small class="grey-text">{{ profile_form.middle_name.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.gender }}
                    {{ profile_form.gender.label_tag }}
                    {{ profile_form.gender.errors }}
                    {% if profile_form.gender.help_text %}
                    <small class="grey-text">{{ profile_form.gender.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.date_of_birth }}
                    {{ profile_form.date_of_birth.label_tag }}
                    {{ profile_form.date_of_birth.errors }}
                    {% if profile_form.date_of_birth.help_text %}
                    <small class="grey-text">{{ profile_form.date_of_birth.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.nationality.label_tag }}
                    {{ profile_form.nationality }}
                    {{ profile_form.nationality.errors }}
                    {% if profile_form.date_of_birth.help_text %}
                    <small class="grey-text">{{ profile_form.nationality.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.religion.label_tag }}
                    {{ profile_form.religion }}
                    {{ profile_form.religion.errors }}
                    {% if profile_form.religion.help_text %}
                    <small class="grey-text">{{ profile_form.religion.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.address.label_tag }}
                    {{ profile_form.address }}
                    {{ profile_form.address.errors }}
                    {% if profile_form.address.help_text %}
                    <small class="grey-text">{{ profile_form.address.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.national_id.label_tag }}
                    {{ profile_form.national_id }}
                    {{ profile_form.national_id.errors }}
                    {% if profile_form.national_id.help_text %}
                    <small class="grey-text">{{ profile_form.national_id.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.mobile_number.label_tag }}
                    {{ profile_form.mobile_number }}
                    {{ profile_form.mobile_number.errors }}
                    {% if profile_form.mobile_number.help_text %}
                    <small class="grey-text">{{ profile_form.mobile_number.help_text }}</small>
                    {% endif %}
                </div>
                <div class="input-field">
                    {{ profile_form.personal_email.label_tag }}
                    {{ profile_form.personal_email }}
                    {{ profile_form.personal_email.errors }}
                    {{ profile_form.personal_email.help_text }}
                </div>
                </div>
                <!-- //card-content -->
            </div>
            <!-- //card-panel -->
            </div>
            <!-- //Personal Details -->

            <!-- Company Details -->
            <div class="col s12 m6 l4">
            <div class="card-panel">
                <div class="card-title">
                    <h5>Company Details</h5>
                </div>
                <div class="card-content">                  
                    <div class="file-field input-field mt10">
                    
                    <div class="photobox">
                        <img id="avatar" src="{{profilepic}}" alt="your image"  width="150" height="150"/>
                    </div>
                    <div class="btn">
                        <span>Change Photo</span>
                        {{ profile_form.avatar }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text">
                    </div>
                    {{ profile_form.avatar.errors }}
                    {% if profile_form.avatar.help_text %}
                    <small class="grey-text">{{ profile_form.avatar.help_text }}</small>
                    {% endif %}
                    </div>

                    <div class="input-field">
                        {{ profile_form.employee_id.label_tag }}
                        {{ profile_form.employee_id }}
                        {{ profile_form.employee_id.errors }}
                        {% if profile_form.employee_id.help_text %}
                        <small class="grey-text">{{ profile_form.employee_id.help_text }}</small>
                        {% endif %}
                    </div>

                    <div class="input-field browser-default">
                        {{ profile_form.department }}
                        {{ profile_form.department.label_tag }}
                        {{ profile_form.department.errors }}
                        {% if profile_form.department.help_text %}
                        <small class="grey-text">{{ profile_form.department.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="input-field browser-default">
                        {{ profile_form.designation }}
                        {{ profile_form.designation.label_tag }}
                        {{ profile_form.designation.errors }}
                        {% if profile_form.designation.help_text %}
                        <small class="grey-text">{{ profile_form.designation.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {{ user_form.email }}
                        {{ user_form.email.label_tag }}
                        {{ user_form.email.errors }}
                        {{ user_form.email.help_text }}
                    </div>
                    <div class="input-field">
                        <p style="margin-bottom:28px;">
                        <label>
                            {{ profile_form.is_admin }}
                            <span>Is Admin</span>
                            {{ profile_form.is_admin.errors }}
                        </label>
                        </p>
                    </div>
                    <div class="input-field">
                        {{ profile_form.user_level }}
                        {{ profile_form.user_level.label_tag }}
                        {{ profile_form.user_level.errors }}
                        {% if profile_form.user_level.help_text %}
                        <small class="grey-text">{{ profile_form.user_level.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {{ profile_form.extension }}
                        {{ profile_form.extension.label_tag }}
                        {{ profile_form.extension.errors }}
                        {% if profile_form.extension.help_text %}
                        <small class="grey-text">{{ profile_form.extension.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {{ profile_form.joining_date }}
                        {{ profile_form.joining_date.label_tag }}
                        {{ profile_form.joining_date.errors }}
                        {% if profile_form.joining_date.help_text %}
                        <small class="grey-text">{{ profile_form.joining_date.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {{ leave_form.vacation }}
                        {{ leave_form.vacation.label_tag }}
                        {{ leave_form.vacation.errors }}
                        {% if leave_form.vacation.help_text %}
                        <small class="grey-text">{{ leave_form.vacation.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {{ leave_form.sick }}
                        {{ leave_form.sick.label_tag }}
                        {{ leave_form.sick.errors }}
                        {% if leave_form.sick.help_text %}
                        <small class="grey-text">{{ leave_form.sick.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {{ profile_form.salary }}
                        {{ profile_form.salary.label_tag }}
                        {{ profile_form.salary.errors }}
                        {% if profile_form.salary.help_text %}
                        <small class="grey-text">{{ profile_form.salary.help_text }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
            <!-- //Company Details -->

            <!-- Bank Details -->
            <div class="col s12 m6 l4">
                <div class="card-panel">
                    <div class="card-title">
                        <h5>Bank Details</h5>
                    </div>
                    <div class="card-content">
                        <div class="input-field">
                            {{ bank_form.name.label_tag }}
                            {{ bank_form.name }}
                            {{ bank_form.name.errors }}
                            {% if bank_form.name.help_text %}
                            <small class="grey-text">{{ bank_form.name.help_text }}</small>
                            {% endif %}
                        </div>
                        <div class="input-field">
                            {{ bank_form.branch.label_tag }}
                            {{ bank_form.branch }}
                            {{ bank_form.branch.errors }}
                            {% if bank_form.branch.help_text %}
                            <small class="grey-text">{{ bank_form.branch.help_text }}</small>
                            {% endif %}
                        </div>
                        <div class="input-field">
                            {{ bank_form.account.label_tag }}
                            {{ bank_form.account }}
                            {{ bank_form.account.errors }}
                            {% if bank_form.account.help_text %}
                            <small class="grey-text">{{ bank_form.account.help_text }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div> 
                <!-- //card panel -->
            </div>
            <!-- //Bank Details -->

        </div>
        <!-- //row -->
        <br>
        <div class="fixed-action-btn">
            <div class="col s12 m12 l12 center">
                <a href="{% url 'hr:hr-employee-list' %}" class="btn btn-large waves-effect waves-light cyan lighten-2 grey-text text-darken-3" type="submit">Cancel</a>
                <button class="btn btn-large waves-effect waves-light cyan" type="submit">Save changes <i class="material-icons right">send</i></button>
            </div>
        </div>
        <input type="hidden" value="{{deptid}}" id="deptidHolder">
    </form>
  </div>

</div>
{% endblock content %}

{% block jscontent %}
<script src="{% static 'js/exif.min.js' %}"></script>
<script src="{% static 'hr/js/emp-create.js' %}"></script>
<script>
    var theDepartment = $('select#id_department');
    var theDesignation = $('select#id_designation');
    var thedeptID = $('#deptidHolder').val();
    var desigval = theDesignation.val();
    var deptChanged = false;

    $(window).on('load', function () {
        if (thedeptID == 0) {
            emptyDesignation();
        } else {
            $('select#id_department option[value='+thedeptID+']').attr('selected',true);
            theDepartment.formSelect();
            getDesignation();
        }
    });
    
    theDepartment.on('change', function(){
        deptChanged = true;
         if($(this).val().length > 0){
             getDesignation();
         }else{
            emptyDesignation();
         }
     });
     
    function getDesignation(){
        $.getJSON("{% url 'hr:hr-get-designation' %}", { deptID: theDepartment.val() },
            function(data) {
                theDesignation.empty();
                $.each(data, function(index, element) {
                    theDesignation.append("<option value='"+element.id+"'>" + element.name + "</option>");
                });
                if (!deptChanged) {
                    theDesignation.val(desigval);
                }
                theDesignation.formSelect();
            });
    }

    function emptyDesignation() {
        theDesignation.empty();
        theDesignation.append("<option value=''>---------</option>");
        theDesignation.formSelect();
    }

</script>
{% endblock jscontent %}