{% extends 'base.html' %}
{% load static %}

{% block title %}
Delete Employee
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'hr/css/hr-employee-change.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet"  href="{% static 'hr/css/material_green.css' %}">
{% endblock css %}

{% block content %}
<div id="mainbox">
  <div class="mycontainer">
    <div class="nav-wrapper">
      <div class="col s12">
      <a href="{% url 'hr:hr-home' %}" class="breadcrumb">Home</a>
      <a href="{% url 'hr:hr-employee-list' %}" class="breadcrumb">Employees</a>
      <a href="#" class="breadcrumb">Delete</a>
      </div>
    </div>
    <h4>Delete Employee</h4>
    {% if object.is_superuser %}
      <h6>You are not allowed to do that!</h6>
      <a href="{% url 'hr:hr-employee-list' %}" class="btn btn-large waves-effect waves-light cyan lighten-2 grey-text text-darken-3" type="submit">Cancel</a>
    {% else %}
    <div class="container">
    <form method="POST">
        {% csrf_token %}
      <div class="card">
          <div class="card-content">
            <table class="highlight">
              <thead>
                <tr>
                  <th>Employee ID</th>
                  <th>Photo</th>
                  <th>Username</th>
                  <th>Full Name</th>
                  <th>Department</th>
                  <th>Designation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="10%">{{ object.profile.employee_id }}</td>
                  <td class="avatar" width="20%"><img src="{{object.profile.avatar.url}}" alt="" height="100" width="100" class="circle"></td>
                  <td>{{ object.username }}</td>
                  <td>{{ object.get_full_name }}</td>
                  <td>{{ object.profile.designation.department }}</td>
                  <td>{{ object.profile.designation }}</td>
                </tr>          
              </tbody>
            </table>

            <div class="button-holder right">
              <a href="{% url 'hr:hr-employee-list' %}" class="btn btn-large waves-effect waves-light cyan lighten-2 grey-text text-darken-3" type="submit">Cancel</a>
              <button class="btn btn-large waves-effect waves-light red" type="submit">Delete</button>
            </div>
            <div class="alis"></div>
          </div> <!-- //card-panel -->
      </div>
    </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}