{% extends "base-emp.html" %}
{% load static %}

{% block title %}
Employee Personal Details
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'employee/css/emp-avatarpanel.css' %}">
<link rel="stylesheet"  href="{% static 'employee/css/emp-personal.css' %}">
{% endblock css %}

{% block content %}
<div class="section mycontainer">
  <div class="nav-wrapper mb27">
    <div class="col s12">
      <a href="{% url 'employee:home' %}" class="breadcrumb">Home</a>
      <a href="{% url 'employee:personal-detail' theemp.pk %}" class="breadcrumb">Personal Details</a>
    </div>
  </div>

  <div class="row">
    <!-- Col 1 -->
    {% include "employee/includes/_emp_col1.html" %}
    <!-- //Col 1 -->
    
    <!-- Col 2 -->
    <div class="col l6 m6 s12">
      <div class="card personal-detail">
          <div class="card-title white-text teal ">
            Personal Details
          </div>
        <div class="card-content">
          <p><b>FIRST NAME:</b> {{theemp.first_name}}</p>
          <p><b>LAST NAME:</b> {{theemp.last_name}}</p>
          <p><b>MIDDLE NAME:</b> {{theemp.profile.middle_name}}</p>
          <p><b>GENDER:</b> {{theemp.profile.gender}}</p>
          <p><b>PERSONAL EMAIL:</b> {{theemp.profile.personal_email}}</p>
          <p><b>MOBILE NUMBER:</b> {{theemp.profile.mobile_number}}</p>
          <p><b>NATIONALITY:</b> {{theemp.profile.nationality}}</p>
          <p><b>BIRTHDAY:</b> {{theemp.profile.date_of_birth}}</p>
          <p><b>RELIGION:</b> {{theemp.profile.religion}}</p>
          <p><b>ADDRESS:</b> {{theemp.profile.address}}</p>
          <p><b>NATIONAL ID:</b> {{theemp.profile.national_id}}</p>
          <p><b>PASSPORT:</b> {{theemp.profile.passport}}</p>
        </div>

      </div>
    </div>
    <!-- //Col 2 -->

    <!-- Col 3 -->
    <div class="col l4 m6 s12">
      <div class="card personal-detail">
          <div class="card-title white-text teal">
            Bank Details
          </div>
        <div class="card-content">
          <p><b>BANK NAME:</b> {{bank.name}}</p>
          <p><b>ACCOUNT:</b> {{bank.account}}</p>
          <p><b>BRANCH:</b> {{bank.branch}}</p>
        </div>

      </div>
    </div>
    <!-- //Col 3 -->
  
  </div>
</div>
{% endblock content %}