{% extends "base-emp.html" %}
{% load static %}

{% block title %}
Employee Dashboard
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'employee/css/emp-avatarpanel.css' %}">
<link rel="stylesheet"  href="{% static 'employee/css/emp-home.css' %}">
{% endblock css %}

{% block content %}
<div class="section mycontainer">
  <div class="row">
    <!-- Col 1 -->
    {% include "employee/includes/_emp_col1.html" %}
    <!-- //Col 1 -->

    <!-- Col 2 -->
    <div class="col l3 m6 s12">
      <div class="card personal-detail">
          <div class="card-title white-text teal ">
            Personal Details
          </div>
        <div class="card-content">
          <p><b>FIRST NAME:</b> {{theemp.first_name}}</p>
          <p><b>LAST NAME:</b> {{theemp.last_name}}</p>
          <p><b>MIDDLE NAME:</b> {{theemp.profile.middle_name}}</p>
          <p><b>PERSONAL EMAIL:</b> {{theemp.profile.personal_email}}</p>
          <p><b>MOBILE NUMBER:</b> {{theemp.profile.mobile_number}}</p>

        </div>
        <div class="card-action ">
          <a href="{% url "employee:personal-detail" theemp.pk %}">View More</a>
        </div>
      </div>

      <div class="card company-detail">
          <div class="card-title white-text cyan darken-1">
            Company Details
          </div>
        <div class="card-content">
          <p><b>DESIGNATION:</b> {{theemp.profile.designation}}</p>
          <p><b>DEPARTMENT:</b> {{theemp.profile.designation.department}}</p>
          <p><b>EXTENSION:</b> {{theemp.profile.extension}}</p>
          <p><b>EMAIL:</b> {{theemp.email}}</p>
        </div>
        <div class="card-action">
          <a href="{% url "employee:company-detail" theemp.pk %}">View More</a>
        </div>
      </div>
    </div>
    <!-- //Col 2 -->
    <div class="col l3 m6 s12">
      <div class="card leave-card">
        <div class="card-image">
          <img src="{% static 'img/vl-banner-2.jpg' %}" alt="">
        </div>
        <div class="card-content">
          <table class="centered">
            <thead>
              <tr>
                  <th>Given</th>
                  <th>Spend</th>
                  <th>Available</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><h5>{{leaves.vacation}}</h5></td>
                <td><h5>0</h5></td>
                <td><h5>{{leaves.vacation}}</h5></td>
              </tr>
              <tr style="border-bottom:0px;">
                <td>Days</td>
                <td>Days</td>
                <td>Days</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action grey lighten-3">
          <div class="row" style="margin-bottom:0px;">
            <div class="col l6 m6 s12 center">
              <a href="#">Apply for leave</a>
            </div>
            <div class="col l6 m6 s12 center">
              <a href="#" class="right">View all</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card leave-card">
        <div class="card-image">
          <img src="{% static 'img/sl-banner.jpg' %}" alt="">
        </div>
        <div class="card-content">
          <table class="centered">
            <thead>
              <tr>
                  <th>Given</th>
                  <th>Spend</th>
                  <th>Available</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><h5>{{leaves.sick}}</h5></td>
                <td><h5>0</h5></td>
                <td><h5>{{leaves.sick}}</h5></td>
              </tr>
              <tr style="border-bottom:0px;">
                <td>Days</td>
                <td>Days</td>
                <td>Days</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action grey lighten-3">
          <div class="row" style="margin-bottom:0px;">
            <div class="col l6 m6 s12 center">
              <a href="#">Apply for leave</a>
            </div>
            <div class="col l6 m6 s12 center">
              <a href="#" class="right">View all</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col l4 m6 s12">
      <!-- Announcement -->
      <div class="card">
        <ul class="collection with-header anno-collection">
          <li class="collection-header grey lighten-4"><h5>Announcements</h5></li>
          {% if annoucements %}
            {% for anno in annoucements %}
            <li class="collection-item">
              <h6><b>{{anno.title}}</b></h6>
              <p>{{anno.note|truncatewords:7}}</p>
              <button data-target="#modal{{anno.pk}}" class="right btn-small white red-text modal-trigger z-depth-0">Read more</button>
              <div class="alis"></div>
              <!-- Modal Structure -->
              <div id="#modal{{anno.pk}}" class="modal">
                <div class="modal-content">
                  <h4>{{anno.title}}</h4>
                  <p>{{anno.note}}</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>
            </li>
            {% endfor %}
          {% else %}
            <li class="collection-item center">
              No Announcement
            </li>
          {% endif %}
        </ul>
      </div>

      <!-- Request -->
      <div class="card">
        <ul class="collection with-header">
          <li class="collection-header grey lighten-4"><h5>Your Requests</h5></li>
          <li class="center"><p>No Requests</p></li>
        </ul>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
{% block jscontent %}
<script>
$(document).ready(function(){
    $('.modal').modal();
  });
</script>
{% endblock jscontent %}