{% extends "base-emp.html" %}
{% load static %}

{% block title %}
Employee Company Details
{% endblock title %}

{% block css %}
<link rel="stylesheet"  href="{% static 'employee/css/emp-avatarpanel.css' %}">
<link rel="stylesheet"  href="{% static 'employee/css/emp-company.css' %}">
{% endblock css %}

{% block content %}
<div class="section mycontainer">
  <div class="nav-wrapper mb27">
    <div class="col s12">
      <a href="{% url 'employee:home' %}" class="breadcrumb">Home</a>
      <a href="{% url 'employee:company-detail' theemp.pk %}" class="breadcrumb">Company Details</a>
    </div>
  </div>

  <div class="row">
    <!-- Col 1 -->
    {% include "employee/includes/_emp_col1.html" %}
    <!-- //Col 1 -->
    
    <!-- Col 2 -->
    <div class="col l6 m6 s12">
      <div class="card company-detail">
          <div class="card-title white-text cyan darken-1">
            Company Details
          </div>
        <div class="card-content">
          <p><b>DESIGNATION:</b> {{theemp.profile.designation}}</p>
          <p><b>DEPARTMENT:</b> {{theemp.profile.designation.department}}</p>
          <p><b>EXTENSION:</b> {{theemp.profile.extension}}</p>
          <p><b>EMAIL:</b> {{theemp.email}}</p>
          <p><b>SALARY:</b> {{theemp.profile.salary}}</p>
          <p><b>USER LEVEL:</b> {{theemp.profile.user_level}}</p>
          <p><b>IS ADMIN:</b> {{theemp.profile.is_admin}}</p>
        </div>
      </div>
    </div>
    <!-- //Col 2 -->

  </div>
</div>
{% endblock content %}