.brandlogo{
    padding:19px 0 19px 10px;
}
.brandlogo img{
    height: 30px;
    
}

.navbar-gradient{
    background: rgb(67,160,71);
    background: linear-gradient(45deg, rgba(67,160,71,1) 0%, rgba(108,191,111,1) 100%);
}
#horizontal-nav{
    margin-top:64px;
    z-index:-1;
}

#ul-horizontal-nav li a{
    color:#000 !important;
    margin: 0px;
    text-align: center;
    line-height: 0 !important;
}
#ul-horizontal-nav li a > i{
    line-height: 45px;
    color:rgb(90, 90, 90) !important;
}
#ul-horizontal-nav li a > span{
    position: relative;
    top:-19px;
}
#top-navbar{
    margin-right:10px;
}
#top-navbar > li > a{
    width: 64px;
    text-align: center;
}
#top-navbar > li p, .form-logout{
    padding-left: 10px;
    padding-right: 10px;
}
.btn-logout{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    height: 61px;
    cursor: pointer;
    
}
.btn-logout:focus, .btn-logout:active{
    background:none !important;
}

i.exit{
    margin-right: 5px !important;
}
li.logout-holder{
    cursor:default !important;
}

/* EMPLOYEE DASHBOARD */

a.btn-logoutemp{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    height: 64px;
    line-height: 62px;
    cursor: pointer;
    width: 100%;
    color: black;
    
}
a.btn-logoutemp:focus, a.btn-logoutemp:active, a.btn-logoutemp:hover{
    background:none !important;
}