html{
    background-color: rgb(238, 238, 238)
}

#mainbox {
    min-height: calc(-100px + 100%);
    /* padding-left: 240px; */
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    padding-top: 90px;
}
.mycontainer{
    width: 98%;
    margin: 0 auto;
}
.alis{
    clear: both;
}

.alert{
    position: absolute;
    right: 0;
    padding: 10px;
    z-index: 1;
}
.alert span{
    padding: 0 47px 0 0;
}
.alert i.warning{
    margin-right: 8px !important; 
}
.alert i.close{
    cursor: pointer;
}

.button-holder{
    padding-top: 10px;
}
#dept-table .valignko ul, #dept-table .valignko h6{
    margin: 0 !important;
}
#dept-table .valignko h6{
    font-weight: bold;
}
.valignko{
    vertical-align:top !important;
}
/* Breadcrumb */
.breadcrumb{
    color:#43a047 !important;
    font-size: 14px !important;
}
.breadcrumb:last-child{
    color: #1b5e20 !important;
}
.breadcrumb::before{
    color:#43a047 !important;
    font-size: 14px !important;
}
.mb10{
    margin-bottom: 20px;
}
.mb27{
    margin-bottom: 27px;
}
.mt35{
    margin-top: 35px;
}
.no-mb{
    margin-bottom: 0 !important;
}
/* //Breadcrumb */

.myavatar{
    padding:10px 13px !important;
}
.myavatar > span{
    padding-left: 10px;
    padding-top: 10px;
}

/* create department form */
.form-row{
    padding-bottom: 20px;
}
/* //create department form */