{% load static %}
<header>
    <div class="navbar-fixed ">
        <nav class="cyan z-depth-1">
            <div class="nav-wrapper">
                <a href="" class="brandlogo valign-wrapper left">
                    <img src="{% static 'img/simplehrms-white2-cyan.jpg' %}">
                </a>
                <ul class="right hide-on-med-and-down push" id="top-navbar">
                    <li>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger' href='#' data-target='dropdown-profile'>
                            <i class="material-icons">face</i>
                        </a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown-profile' class='dropdown-content'>
                            <li>
                                <a href="#" class="myavatar">
                                    <img src="{{request.user.profile.avatar.url}}" class="circle" height="45" width="45">
                                    <span class="right">{{request.user.username}}</span>
                                </a>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li class="logout-holder">
                                <div class="form-logout">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'employee:logout' %}" class="btn-logoutemp left"><i class="material-icons left exit">exit_to_app</i> Logout</a>
                                {% endif %}
                                </div>
                            </li>
                            </ul>
                    </li>
                
                </ul>
            </div>
        </nav>
        
    </div>
</header>