<div class="col l2 m6 s12">
  <div class="card" id="avatarcard">
    <div class="card-image">
      <img src="{{theemp.profile.avatar.url}}" alt="">
      <span class="z-depth-1 card-title empnum deep-orange accent-3">ID: {{theemp.profile.employee_id}}</span>
    </div>
    <div class="card-content center">
      <h6>
        {{theemp.first_name}} {{theemp.last_name}} 
      </h6>
      <p>{{theemp.profile.designation}}</p>
    </div>

  </div>

  <div class="card">
    <div class="card-content center joiningdate">
      <h6>Joining Date</h6>
      <h5 class="bold  light-green-text text-darken-3">{{theemp.profile.joining_date}}</h5>

    </div>
  </div>
</div>