.gradient-45deg-light-blue-cyan.gradient-shadow {
    box-shadow: 0px 6px 20px 0px rgba(38,198,218,0.5);
}
.gradient-45deg-light-blue-cyan {
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}
.gradient-45deg-red-pink {
	background: #FF5252;
	background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
	background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
}
.gradient-45deg-red-pink.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5);
}


#status-card .card .card-content{
    padding:10px 20px;
}

#status-card .card .card-content i.employee{
    font-size: 100px;
}
#status-card .card-action a{
    width:100%;
    display: block;
    color:#fff;
    padding: 5px;
}
#status-card .card-action a:hover{
    color:rgb(209, 209, 209);
}
#status-card .card-action a i{
    margin-left:8px;
}
#status-card .card .card-content h5{
    font-size: 1.50rem !important;
}
.status-count{
    margin:0;
}

/* birthday section */
.bday-title{
    font-size: 18px;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}
.bday-month{
    margin: 0 !important;
}
.collection-item-holder{
    padding-left: 26px;
}
.collection .avatar img{
    width: 60px !important;
    height: 60px !important;
}
/*//birthday section */