{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}"> -->
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="{% static 'css/main.css' %}">
    <link rel="stylesheet"  href="{% static 'css/header.css' %}">
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% block css %}{% endblock css %}
</head>
<body>
    {% include 'employee/includes/_emp_header.html' %}
    
    {% block content %}{% endblock content %}


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- <script src="{% static 'js/materialize.min.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    $('.dropdown-trigger').dropdown({
        hover:true,
        coverTrigger:false,
        constrainWidth: false
    });
    
    $('.tooltipped').tooltip();


</script>

{% block jscontent %}{% endblock jscontent %}
</body>
</html>