{% load static %}
<header>
    <div class="navbar-fixed ">
        <nav class="cyan z-depth-0">
            <div class="nav-wrapper">
                <a href="" class="brandlogo valign-wrapper left">
                    <img src="{% static 'img/simplehrms-white2-cyan.jpg' %}">
                </a>
                <ul class="right hide-on-med-and-down push" id="top-navbar">
                    <li>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger' href='#' data-target='dropdown-notification'>
                            <i class="material-icons">notifications</i>
                        </a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown-notification' class='dropdown-content'>
                            <li>
                            <p>No notification</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">settings</i>
                        </a>
                    </li>
                    <li>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger' href='#' data-target='dropdown-profile'>
                            <i class="material-icons">face</i>
                        </a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown-profile' class='dropdown-content'>
                            <li>
                                <a href="#" class="myavatar">
                                    <img src="{{request.user.profile.avatar.url}}" class="circle" height="45" width="45">
                                    <span class="right">{{request.user.username}}</span>
                                </a>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li class="logout-holder">
                                <div class="form-logout">
                                    {% if user.is_authenticated %}
                                    <form method="POST" action="{% url 'hr:hr-logout' %}">
                                        {% csrf_token %}
                                        <i class="material-icons left exit">exit_to_app</i>
                                        <button class="btn-logout left" type="submit">Logout</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </li>
                            </ul>
                    </li>
                
                </ul>
            </div>
        </nav>
        <!-- Horizontal nav 2 -->
        <nav class="white hide-on-med-and-down" id="horizontal-nav">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down" id="ul-horizontal-nav">
                    <li class="{{homeactive}}">
                        <a href="{% url 'hr:hr-home' %}">
                            <i class="material-icons">dashboard</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="{{emplistactive}}">
                        <a href="{% url 'hr:hr-employee-list' %}">
                            <i class="material-icons">people</i>
                            <span>Employees</span>
                        </a>
                    </li>
                    <li class="{{deptlistactive}}">
                        <a href="{% url 'hr:hr-department-list' %}">
                            <i class="material-icons">subtitles</i>
                            <span>Departments</span>
                        </a>
                    </li>
                    <li class="{{annolistactive}}">
                        <a href="{% url 'hr:hr-announcement-list' %}">
                            <i class="material-icons">feedback</i>
                            <span>Announcement</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>