.mycontainer{
  margin: 0 auto;
}
.bold{
  font-weight: bold;
}

.company-detail .card-title{
  background-color: #70be74;
  padding: 15px;
  
}
.company-detail .card-content p{
  font-size: 1.10rem;
}
.company-detail .card-content b{
  padding-right: 10px;
}
