.mycontainer{
  margin: 0 auto;
}
.bold{
  font-weight: bold;
}

.personal-detail .card-title{
  background-color: #00b0ff;
  padding: 15px;

}
.personal-detail .card-content p{
  font-size: 1.10rem;
}
.personal-detail .card-content b{
  padding-right: 10px;
}

.company-detail .card-title{
  background-color: #70be74;
  padding: 15px;
  
}
.company-detail .card-content p{
  font-size: 1.10rem;
}
.company-detail .card-content b{
  padding-right: 10px;
}

.leave-card{}
.leave-card .card-content{
  padding: 2px;
}

.leave-card .card-content th{
  padding: 7px 5px;
}
.leave-card .card-content td{
  padding:10px 5px;
}
.leave-card .card-content h5{
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
.leave-card .card-action a{
  color:#279ddd !important;
}
.leave-card .card-action a:hover{
  color: #8fd4f9 !important;
}
ul.anno-collection{}
ul.anno-collection a.modallink{
  color:#ffab40;
}
ul.anno-collection a.modallink:hover{
  color:#ffd8a6;
}

