#avatarcard .card-content{
  padding: 20px 10px 10px 10px;
}
#avatarcard .card-content h6{
  font-size: 1.30rem;
}

#avatarcard .empnum{
  right: 8px !important;
  left: auto !important;
  padding: 0px 20px !important;
  bottom: -17px !important;
  font-size: 20px !important;
}

.card .joiningdate{
  padding: 10px !important;
}

.card .joiningdate h5{
  margin-top: 0px !important;
}
